.center-login {
    margin:auto;
    width: 40%;
    height: 400px;
    padding: 80px;
    position:relative;
    border-bottom: 20px solid orange;
    position: relative;
    animation-name: login-slider;
    animation-duration: 10s;
    animation-iteration-count: 1;
    box-shadow: gray;
    background-color: white;
    border-top: gray solid 20px;
    border-left: orange solid 2px;
    border-right: orange solid 2px;
}

body{
    background-image: url("login-2.png");
    background-size: cover;
    background-position: center;
    height: 100%; 
}
.left{
    background-color: rgb(24, 85, 6);
}
@keyframes login-slider {
    0%   { left:500px; top:0px;}
    25%  {left:-20px; top: 20px; }
    50% {left:0px; top: 0px}
  }

  