.content-1{
    margin:auto;
    position:relative;
    padding-left: 200px;
    padding-top: 200px;
}

.content-2{
    margin:auto;
    position:relative;
    padding-left: 200px;
    padding-top:    50px;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,199,149,1) 35%, rgba(29,202,173,1) 50%, rgba(30,202,171,1) 79%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-position: center;
    height: 100%; 
}
