
  table.adminGrid {
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    width: 100%;
  }
  
  table.adminGrid td, table.adminGrid th {
    padding: 8px;
    border:none;
    
  }
  
  table.adminGrid  tr:nth-child(even){
      background-color: #f2f2f2;
      
        display:none;
    }
  
  table.adminGrid tr:hover {
      
  }
  
  table.adminGrid  th {
    
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    border:none;
    display:none;
  }